    body {
        text-align: center;
    }
    h1 {
        font-size: 15px;
        padding-bottom: 20px;
    }
    .originals {
        /* text-align: right; */
        font-size: 33px;
        padding-bottom: 5px;
    }
    .noto {
        font-family: 'Noto Emoji', sans-serif;
        font-size: 35px;
        padding-bottom: 30px;
    }
    .final {
        font-family: 'Noto Emoji', sans-serif;
        font-size: 100px;
        text-align: center;
    }
