body {
    text-align: center;
}
h1 {
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    font-weight: 100;
    padding-top: 50px;
    padding-bottom: 10px;
}
.originals {
    font-size: 53px;
    padding-bottom: 5px;
}
.noto {
    font-family: 'Noto Emoji', sans-serif;
    font-size: 55px;
    padding-bottom: 30px;
}
.final {
    font-family: 'Noto Emoji', sans-serif;
    font-size: 125px;
    text-align: center;
}
